*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.header {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
}

#new-book-btn {
  height: 32px;
  width: 100%;
  margin: 4px 0;
  background-color: white;
  border: 2px solid black;
}

.content {
  --card-width: 200px;
  --card-height: 250px;
  --card-spacing: 14px;
  max-width: 850px;
  max-height: 850px;
  padding: var(--card-spacing);

  display: grid;
  grid-template-columns: repeat(3, var(--card-width));
  grid-template-rows: repeat(2, var(--card-height));
  gap: var(--card-spacing);

  border: 2px solid black;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;
  border-radius: 8px;
  padding: 8px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;

  border: 2px solid green;
}

hr {
  margin-top: 8px;
}

.buttons {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  display: block;
  width: 100%;
}

dialog {
  margin: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}