*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  
  border: 2px solid red;
}

.header {
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
}

#new-book-btn {
  height: 32px;
  width: 100%;
  margin: 4px 0;
  background-color: white;
  border: 2px solid black;
}

.content {
  width: 600px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 250px);

  border: 2px solid black;
}

.card {
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 8px;
  border: 2px solid green;
}

dialog {
  margin: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}